asgiref==3.8.1
colorama==0.4.6
colorgram.py==1.2.0
Django==5.1.6
et_xmlfile==2.0.0
numpy==2.3.0
openpyxl==3.1.5
pandas==2.3.0
pillow==11.2.1
prettytable==3.16.0
pygame==2.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzbar==0.1.9
qrcode==8.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
wcwidth==0.2.13
